/* *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;

  
} */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 7rem;
    
}
body{
    background: #eee;
    padding-top: 8em;
}
.section{
    padding: 2rem 9%;
}
.header{
    position: fixed;
    top: 0%;left: 0%;right: 0%;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background:#ffffff;
    box-shadow: 1px 1px 3px;

    
}
.h_heading{
    font-size: 1em;
}
.brand{
    font-size: 3em;

}
.logo_icon{
    position: relative;
    width: 2.8rem;
    right: 30px;
    bottom: 35px;

   
}
.navbar {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    
}
.navbar a{
    top: 5em;
    color: black;
    margin: 1em;
    font-size: 1.8rem;
}
.header .navbar a:hover{
    color:rgb(28, 231, 123);
}

.icons{
    display: flex;
    justify-content: right;
    margin-top: -45px;
}
.icons img{
    height: 2.5em ;
    width: 3em;
    margin: .5em;
}
























/* /footer css/ */


.footer-container{
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    
}
.footer-main-container{
    background-color: white;
   
}
.footer-comp{
    width: 95%;
    margin: auto;
}
.logo-footer{
    width:70%;
    border-radius: 70%;
}
.location,.mail,.call{
    font-size: 2em;
    margin-top: 1em;

}
.mail-text{
    width:300px;
    font-size: 1em;
    color:#17B890
}
.links-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2em;
       
}
.footer-list{
    margin-bottom: .5em;
    color: black;
    text-align: center;
    border-radius: 50px;
    font-size: 2.5em;
    height: 1.5em;
    width: 55%;
    border: 1px solid black;
}
.footer-list:hover{
    background-color: black;
    color: white;
}
.news{
    margin-bottom: .5em;
    font-size: 1.5em;
}
.newsletter-footer{
    margin-top: 3em;
    font-size: 1.5em;
}
.subscribe-button{
    background-color: #17B890;
    color:black;
    padding:  5px 10px 5px 10px;
    font-family:taviraj;
    font-weight:700;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.2s;
}
.subscribe-button:hover{
    background-color:#17B890;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    border-width: 1px;
    border-color:#9DC5BB;
   
}
.subscribe-button:active{
    background-color:#9DC5BB;
}
.email-input{
    padding:5px ;   
}
.rights-footer{
    text-align: center;
    font-size:1.5em;
    padding-bottom: 1em;
    
}

































































































@media screen and (max-width: 600px){


    .navbar{
        margin-left: 1em;
    }
    .icons{
        margin-left: 25em;
    }
}

@media screen and (max-width: 600px) {
   
    
    /* header section styling */
    
    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0; padding: 0;
        box-sizing: border-box;
        outline: none;
        text-decoration: none;
        transition: all .2s linear;
      
    }
    html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-padding: 7rem;
        
    }
    body{
        background: #eee;
    }
    .section{
        padding: 2rem 9%;
    }
    .header{
        position: fixed;
        top: 0%;left: 0%;right: 0%;
        z-index: 100;
        align-items: center;
        justify-content: space-between;
        padding: .001em 7%;
        background:#ffffff;
        box-shadow: 1px 1px 3px;
           
    }
    .brand{
        font-size: 2em;
        margin-bottom:20px;
        
    }
    .h_heading{
        margin-bottom: 50px;
        margin-right:100px ;
        font-size: 1.1em;
        
    }
    .logo_icon{
        position: relative;
        width: 2rem;
        right: 23px;
        bottom:73px;
    
       
    }
    .navbar {
    
        justify-content:center;
        margin-top: -80px;
        
    }
    .navbar a{
        top: 5em;
        color: black;
        margin: 1em;
        font-size: 1.3rem;
        
    }
    .header .navbar a:hover{
        color:rgb(28, 231, 123);
    }
    
    .icons{
        display: flex;
        justify-content: center;
        bottom:60px;
        margin-bottom: 40px;
        margin-top: -80px;
    
        
    }
    .icons img{
        height: 2em ;
        width: 2.5em;
        margin: .5em;
    }
    










}



































































@media screen and (max-width: 600px){
/* /footer css/ */


.footer-container{
    display:flex;
    flex-direction: column;
    column-gap: 15px;
}
.logo-footer{
    width:70%;
    border-radius: 70%;
}
.footer-comp{
    width: 95%;
    margin: auto;
}
.br_name_footer{
    width:200px;
    color:#17B890;
    font-family:"taviraj",sans-serif; 
    font-weight:1000;
    font-size:3em;
    
}
.location,.mail,.call{
    font-size: 2em;
    margin-top: 1em;

}
.mail-text{
    width:300px;
    font-size: 1em;
    color:#17B890
}
.links-footer{
    display: none;
    
}
.news{

    margin-bottom: 1em;
    font-size: 1.5em;
}
.newsletter-footer{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}
.subscribe-button{
    background-color: #17B890;
    color:black;
    padding:  5px 10px 5px 10px;
    font-family:taviraj;
    font-weight:700;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.2s;
}
.subscribe-button:hover{
    background-color:#17B890;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    border-width: 1px;
    border-color:#9DC5BB;
   
}
.subscribe-button:active{
    background-color:#9DC5BB;
}
.email-input{
    padding:5px ;   
}
.rights-footer{
    text-align: center;
    font-size:1.5em;
}
}